<div class="box">
  <% if alert = flash[:alert] %>
    <%= component("alert") do %>
      <p><%= alert %></p>
    <% end %>   
  <% end %>

  <h1 class="title">Forgot your password?</h1>

  <%= form_with url: passwords_path, class: "contents" do |form| %>
    <div class="form">
      <div class="form-item">
        <%= form.email_field :email_address, 
              required: true, 
              autofocus: true, 
              autocomplete: "username", 
              placeholder: "Enter your email address", 
              value: params[:email_address] 
        %>
      </div>

      <div class="form-actions even">
        <%= link_to "Back to sign in", new_session_path, class: "small" %>
        <%= form.submit "Reset" %>
      </div>
    </div>
  <% end %>
</div>
