<%= form_with model: item do |form| %>
  <div class="flex flex-col gap-4">
    <div class="form-item">
      <%= form.label :name %>
      <%= form.text_field :name %>
      <% if item.errors[:name].any? %>
        <div class="error">
          <%= item.errors[:name].join(", ") %>
        </div>
      <% end %>
    </div>

    <div class="form-item">
      <%= form.label :description %>
      <%= form.text_area :description %>
      <% if item.errors[:description].any? %>
        <div class="error">
          <%= item.errors[:description].join(", ") %>
        </div>
      <% end %>
    </div>

    <div class="form-item">
      <%= form.label :photo %>
      <% if item.photo.attached? %>
      <div class="current-photo">
        <p>Current photo:</p>
        <%= image_tag item.photo, class: "max-w-sm" %>
        <%= form.check_box :remove_photo %>
        <%= form.label :remove_photo, "Remove photo" %>
      </div>
      <% end %>
      <%= form.file_field :photo %>
      <% if item.errors[:photo].any? %>
      <div class="error">
        <%= item.errors[:photo].join(", ") %>
      </div>
      <% end %>
    </div>

    <div class="form-item">
      <% if item.id %>
        <%= button_to "Cancel", item_path(item), class: "secondary" %>
      <% else %>
        <%= link_to "Cancel", items_path, class: "secondary" %>
      <% end %>
      <%= form.submit %>
    </div>
  </div>
<% end %>
