<h1>New item</h1>

<%= form_with model: @item do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <% if @item.errors[:name].any? %>
      <div class="error">
        <%= @item.errors[:name].join(", ") %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
