<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "StashMap!" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag 'vendor/modern-normalize', "data-turbo-track": "reload" %>    

    <%# Includes all other stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body> 
    <main class="container">
      <div data-controller="nav">
        <div id="layout-top-bar">
          <svg data-nav-target="navButton" class="icon-menu" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/>
          </svg>
        </div>

        <ul id="main-nav" class="nav">
          <li>
            <span data-nav-target="navCloseButton" style="cursor: pointer;">X</span> 
          </li>

          <li>
            <%= link_to "Items", items_path, class: current_page?(items_path) ? "active" : "" %>
          </li>

          <li>
            <%= link_to "Add Item", new_item_path, class: current_page?(new_item_path) ? "active" : "" %>
          </li>

          <li>
            <a href="">Places</a>
          </li>

          <li>
            <a href="">Add Place</a>
          </li>
        </ul>     
      </div> 

      <div id="view">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
